@font-face {
  font-family: "Barlow_Condensed";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/BarlowCondensed-Light.ttf);
}
@font-face {
  font-family: "Barlow_Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BarlowCondensed-Regular.ttf);
}
@font-face {
  font-family: "Barlow_Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/BarlowCondensed-Bold.ttf);
}
@font-face {
  font-family: "Barlow_Condensed";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/BarlowCondensed-Black.ttf);
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(127, 103, 251);
}
h2 {
  font-family: "Barlow_Condensed";
  font-weight: 700;
}
